
*{
    background-color: bisque;
    font-variant-numeric: oldstyle-nums;
}

h2,h3,article, p{
    display: flex;justify-content: center;
}

h1{
    display: flex;justify-content: center;
    background-color: aqua;
}